
$white: #fff;
$black: #000;
$bg-color-1: #370250;
$bg-color-2: #771CA3;
$bg-color-3: #860068;

$center: center ;
$flex: flex ;
$relative: relative ;
$nowrap: nowrap ; 
$column: column ;
$max-content: max-content ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


.background{
    display: $flex;
    align-items: $center;
    justify-content: $center;
    background: linear-gradient(150deg, $bg-color-1 16.73%, $bg-color-2 50.04%, $bg-color-3 83.35%);
    width: 100vw;
    height: 100vh;
}

.box_form{
    display: $flex;
    align-items: $center;
    justify-content: $center;
    flex-wrap: $nowrap;
    flex-direction: $column;
    background-color: $white;
    width: 60vw;
    height: 76vh;
    border-radius: 4vb;
}

.login_form{
    display: $flex;
    justify-content: space-between;
    align-items: left;
    flex-wrap: $nowrap;
    flex-direction: $column;

    input{
        margin: 0 0 2vb;
        height: 3rem;
        width: 15rem;
        max-width: $max-content;
        border: 0.3vb solid;
        border-radius: 1vb;
    }
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.icon_logo{
    position: $relative;
    bottom: 40px;
    width: 20rem;
    height: 16rem;
    border-radius: 30px;
}

.button_entrar{
    border-radius: 1vb;
    width: 30rem;
    height: 3rem;
    max-width: $max-content;
}

.button_area{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cadastro_form{
    display: none;
}