$white: #fff;
$black: #000;
$bg-color-1: #370250;
$bg-color-2: #771CA3;
$bg-color-3: #860068;

$center: center ;
$flex: flex ;
$relative: relative ;
$nowrap: nowrap ; 
$column: column ;
$max-content: max-content ;
$normal: normal;
$none: none;